<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/unit/bootstrap.php"
         cacheDirectory="tests/unit/.cache/.phpunit.result.cache"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="dev" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="11.1" />
        <server name="KERNEL_CLASS" value="App\Kernel" />

        <!-- ###+ nelmio/cors-bundle ### -->
        <env name="CORS_ALLOW_ORIGIN" value="'^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'"/>
        <!-- ###- nelmio/cors-bundle ### -->
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <report>
            <html outputDirectory="./tests/unit/.coverage" lowUpperBound="80" highLowerBound="100"/>
        </report>
    </coverage>

    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>src/UI</directory>
            <directory suffix="Reader.php">src/Infrastructure</directory>
            <directory suffix="Repository.php">src/Infrastructure</directory>
            <directory>src/Infrastructure/Symfony/Service/TemporaryRouteGenerator.php</directory>
        </exclude>
    </source>
</phpunit>
